
.embed {
    display: inline-flex;
    flex-flow: row wrap;
    margin: 0 0.25em;
    vertical-align: sub;
}

.expr {
    display: flex;
    flex-flow: row;
    gap: 0.25em;
    background: var(--hover-color);
    min-height: 1.5em;
    border-radius: 0.75em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    align-items: center;
}

.arg {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 0.25em;
}

.param {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 0.25em;
}

.child {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 0.25em;
}

.argButton {
    font-size: 0.8em;
}

.argTextInput {
    font-size: 0.9em;
}
