
.embed {
    display: inline-flex;
    flex-flow: row wrap;
    margin: 0px 5px;
    vertical-align: sub;
}

.expr {
    display: inline-flex;
    flex-flow: row wrap;
    background: #8888;
    border-radius: 12px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 25px;
    align-items: center;
}

.arg {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 5px;
}

.param {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 5px;
}

.child {
    display: inline-flex;
    flex-flow: row wrap;
    gap: 5px;
}

.arg > label, .param > label {
    display: inline-flex;
    flex-flow: row wrap;
    flex-flow: column;
}

.arg > label > input {
    display: inline-block;
    background: transparent;
    height: 25px;
    color: inherit;
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    field-sizing: content;
}

.arg > label > input[type="text"] {
    padding: 0px 10px;
}

.arg > label > input:focus {
    outline: 0;
    border: 0;
    background: #0008;
}
