
.editor {
    display: flex;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    overflow: auto;
    background: #222;
    padding-bottom: 0.25em;
    gap: 0.1em;
}

.sidebarSpacer {
    flex: 1 0 0;
}

.sidebarLine {
    margin: 5px;
    border-bottom: 1px solid #444;
}

.pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 0;
}

.workspace {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: auto;
}

.breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    gap: 5px;
    padding-bottom: 5px;
}

.footer {
    font-size: 16px;
}
