
.editor {
    display: flex;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 2.25em;
    overflow: auto;
    background: var(--sidebar-color);
    padding-bottom: 0.25em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    gap: 0.1em;
}

.sidebarSpacer {
    flex: 1 0 0;
}

.sidebarLine {
    margin: 0.1em;
    border-bottom: 1px solid var(--menu-border-color);
}

.pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 0;
    overflow: hidden;
}

.workspace {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    overflow: hidden;
}

.breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.75em;
    gap: 0.25em;
    padding-bottom: 0.25em;
}

.footer {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75em;
    gap: 0.75em;
    opacity: 0.8;
}
