
.sequenceEditor {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    position: relative;
}

.sequenceEditor.field {
    flex: 0 0 auto;
}

.timeline {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    align-items: center;
    overflow: auto;
    row-gap: 0.25em;
}

.timeline .timeline {
    overflow: visible;
}

.stepEditor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    overflow: auto;
}

.optionEditor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0.25em;
    gap: 0.5em;
    background-color: var(--hover-color);
}

.bubble {
    display: flex;
}

.bubbleFront {
    display: flex;
    background: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    opacity: 0.8;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.bubbleBack {
    width: 1em;
    display: flex;
    background: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    opacity: 0.8;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.bubbleBody {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.bubble.active > .bubbleBody {
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.bubbleFront:hover, .bubbleBack:hover {
    opacity: 1.0;
}

.bubble.active > .bubbleFront, .bubble.active > .bubbleBack {
    opacity: 1;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.bubbleBodyRow {
    display: flex;
    border-top: 1px solid var(--text-color);
    padding: 0.1em;
}

.bubbleBodyRow:first-child {
    border-top: 0;
}

.option {
    display: flex;
    font-size: 0.75em;
}

.simpleBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2em;
    height: 2em;
    border-radius: 1em;
    background: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
    opacity: 0.8;
    padding: 0 0.1em;
}

.simpleBubble.end {
    padding-right: 1em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.simpleBubble:hover {
    opacity: 1.0;
}

.simpleBubble.active {
    opacity: 1;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.outlineBubble {
    display: flex;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: 2px solid var(--text-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.outlineBubble:hover {
    background: var(--hover-color);
}

.bubblePreview {
    font-size: 0.5em;
}

.stepGap {
    min-width: 0.5em;
    flex: 1 0 auto;
    height: 2em;
    display: flex;
    align-items: center;
}

.stepLine {
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    opacity: 0.5;
}

.dragOver {
    outline: 2px solid var(--secondary-color);
}

.dragging {
    opacity: 0.5;
}

.player {
    display: flex;
    flex-flow: column;
    min-height: 20em;
}

.playerIcons {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0.25em;
    top: 0.25em;
    color: var(--text-color);
    font-size: 3em;
    z-index: 200;
}

.stepField {
    display: flex;
}

.stepField > span {
    font-size: 0.5em;
}

.exprLabel {
    align-self: center;
    padding-top: 1em;
    font-size: 0.75em;
    font-weight: bold;
}
