
.fields {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 1 0 auto;
    max-width: 100%;
    overflow: auto;
}

.childLists {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.preview {
    flex: 1 1 0;
}

.previewImage {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
