
.fields {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 0 0 auto;
    max-width: 100%;
}

.childLists {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.preview {
    flex: 1 1 0;
}
