
.workspace {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 0.25em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.logo > img {
    height: 1em;
}

.heading {
    font-size: 1.5em;
}

.buttonGroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 0.25em;
    font-size: 3em;
}

.projects {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    gap: 0.25em;
}

.projectRows {
    display: flex;
    flex-flow: column;
    pointer-events: none;
}

.projectName {

}

.projectInfo {
    display: flex;
    font-size: 0.6em;
    gap: 0.5em;
}
