
.workspace {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 0.25em;
    font-size: 3em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.logo > img {
    height: 1em;
}

.heading {
    font-size: 0.5em;
}

.buttonGroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}
