
.backsplash {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.menuContainer {
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.menu {
    flex: 0 1 auto;
    overflow: auto;
    background-color: var(--menu-bg-color);
    border: 1px solid var(--menu-border-color);
    border-radius: 0.25em;
    display: flex;
    flex-flow: column;
    gap: 0.1em;
    padding: 0.1em;
    pointer-events: auto;
}

.menuItem {
    display: flex;
    align-items: center;
}

.menuItem:hover {
    background: var(--hover-color);
    cursor: pointer;
}

input.searchbox {
    display: block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

input.searchbox:focus {
    outline: 0;
    border: 0;
}
