
.icon {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    border-radius: 0.25em;
    pointer-events: none;
}

.iconImage {
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    border-radius: 0.25em;
    border: 1px solid var(--text-color);
}

.icon > span {
    font-size: 0.25em;
    max-width: 8em;
    text-align: center;
}

.button.solid {
    background: var(--text-color);
    color: var(--bg-color);
    border: 1px solid transparent;
}

.button.outline {
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.button.text {
    background: transparent;
    color: var(--text-color);
    border: 1px solid transparent;
}

.icon.inactive {
    opacity: 0.8;
}

.icon.active {
    opacity: 1;
}

.icon.active > .iconImage {
    border: 1px solid var(--primary-color);
}

.icon.text.active {
    color: var(--primary-color);
}

.icon.outline.active {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.icon.solid.active {
    background: var(--primary-color);
    color: var(--bg-color);
}

.icon.clickable:hover {
    opacity: 1;
}

.icon.clickable {
    cursor: pointer;
    pointer-events: auto;
}
