
.list {
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-flow: row wrap;
    gap: 0.1em;
    font-size: 3em;
    padding-bottom: 0.1em;
}

.heading {
    align-self: flex-start;
}
