
.field {

}

.field > label {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 0.75em;
    font-weight: bold;
}

.invalid > label > .name {
    color: var(--error-color);
}

.contents {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.error {
    font-size: 0.75em;
    color: var(--error-color);
}
