
.backsplash {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--backsplash-color);
    display: flex;
    overflow: auto;
    backdrop-filter: blur(20px);
}

.preview {
    margin: auto;
}
