
.preview {
    border: 1px solid var(--text-color);
    border-radius: 0.25em;
    width: 5em;
    height: 5em;
    object-fit: cover;
    object-position: center top;
    background-color: black;
    cursor: pointer;
}
