
.uploadZone {
    border-radius: 0.25em;
    padding: 0.25em;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 1.5em;
    margin: 2px;
}

.dropOver {
    outline: 2px solid var(--secondary-color);
}

.picker {
    cursor: pointer;
}

.dropSite {
    border: 1px dashed var(--text-color);
}
