
.gamePlayer {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: start;
    font-size: 1.25em;
    gap: 0.5em;
}

.menuHeader {

}

.menuContent {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 0.25em;
}

.menuButton {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.25em;
}

.menuButton:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.menuButton.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.playerButtons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    font-size: 3em;
    padding: 0.5em;
    z-index: 150;
}

.debugger {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 1.5em;
    max-width: 1.5em;
    padding: 0.25em;
    overflow: hidden;
    background: var(--dialogue-box-bg-color);
    z-index: 200;
    transition: max-height 0.5s, max-width 0.5s;
    border-bottom-right-radius: 0.5em;
}

.debugger.open {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}

.debuggerVariableList {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
}

.debuggerVariableList > .debuggerVariableList {
    grid-column: auto / span 2;
    margin-left: 1em;
}

.debuggerVariableList > b {
    font-style: normal;
    text-align: left;
    text-wrap: nowrap;
}

.debuggerVariableList > i {
    font-style: normal;
    text-align: right;
}

.debuggerActionList {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25em;
}
