
:root {
    --bg-color: #111;
    --text-color: white;
    --primary-color: #FA5;
    --error-color: #f66;
    --menu-bg-color: #222;
    --menu-border-color: #444;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 20px;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

#appContainer {
    height: 100%;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 0.1s;
}

*:hover {
    scrollbar-color: var(--text-color) transparent;
}
