
@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

:root {
    --bg-color: #111;
    --text-color: white;
    --primary-color: #FA5;
    --secondary-color: #5AF;
    --error-color: #f66;
    --menu-bg-color: #222;
    --menu-border-color: #444;
    --hover-color: #8888;
    --backsplash-color: #0008;
    --sidebar-color: #222;
    --dialogue-box-bg-color: #222C;
    --expr-color: #ccc4;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    touch-action: manipulation;
}

#appContainer {
    height: 100%;
}

picture {
    display: contents;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 0.1s;
}

*:hover {
    scrollbar-color: var(--text-color) transparent;
}

body {
    font-size: 0.75em;
}

@media (min-width: 500px) {
    body {
        font-size: 1em;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 1.25em;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 1.5em;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 1.75em;
    }
}
